{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>2020 spring bitirme projesi</title>
    </head>
    <body>
    <form>
        {% csrf_token %}
    </form>
    <div>2020 Spring Bitirme projesi</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        // Classifier Variable
      let classifier;
      // Model URL
      //let imageModelURL = 'https://teachablemachine.withgoogle.com/models/HyMEER14/';
      let imageModelURL = 'https://teachablemachine.withgoogle.com/models/FlPDCUsQ/';

      // Video
      let video;
      let flippedVideo;
      // To store the classification
      let label = "";

      // Load the model first
      function preload() {
        classifier = ml5.imageClassifier(imageModelURL + 'model.json');
      }

      function setup() {
        createCanvas(320, 260);
        // Create the video
        video = createCapture(VIDEO);
        video.size(320, 240);
        video.hide();

        flippedVideo = ml5.flipImage(video)
        // Start classifying
        classifyVideo();
      }

      function draw() {
        background(0);
        // Draw the video
        image(flippedVideo, 0, 0);

        // Draw the label
        fill(255);
        textSize(16);
        textAlign(CENTER);
        text(label, width / 2, height - 4);
      }

      // Get a prediction for the current video frame
      function classifyVideo() {
        flippedVideo = ml5.flipImage(video)
        classifier.classify(flippedVideo, gotResult);
      }

      // When we get a result
      function gotResult(error, results) {
        $.ajax(
        {
        type:"GET",
        url: "/prediction",
        data:{
                 results: results
        },
        success: function( data ) 
        {
            //$( '#message' ).text(data);
        }
        })
        // If there is an error
        if (error) {
          console.error(error);
          return;
        }
        // The results are in an array ordered by confidence.
        // console.log(results[0]);
        label = results[0].label;
        // Classifiy again!
        classifyVideo();
      }
    </script>
    </body>
    </html>
{% endblock content %}