<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gerçek Zamanlı Yoklama Alma Sistemi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<h1>Gerçek Zamanlı Yoklama Alma Sistemi</h1><br>

<div class="row">
    <form class="col-md-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Öğretmen Mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Bilgileriniz kimseyle paylaşılmamaktadır.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Öğretmen Id</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Ders Kodu</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
    <div class="col-md-4" id="myCanvas">

    </div>
</div>
<script type="text/javascript">
    const checkList = [];
    let capture, canvas, classifier, foundPerson, label;

    function setup() {
        canvas = createCanvas(320, 260);
        canvas.parent('myCanvas');

        capture = createCapture(VIDEO);
        capture.size(width, height);
        capture.hide();

        classifier = ml5.imageClassifier('https://teachablemachine.withgoogle.com/models/FlPDCUsQ/model.json');

        setInterval(function () {
            findPerson(capture);
        }, 250);
    }

    function draw() {
        background(0);
        image(capture, 0, 0);
        fill(255);
        textSize(16);
        textAlign(CENTER);
        text(label, width / 2, height - 4);
    }

    function findPerson(flippedImage) {
        classifier.classify(flippedImage, function (error, results) {
            if (error) return console.error(error);

            foundPerson = results[0];
            label = foundPerson ? foundPerson.label : 'Lütfen yüzünüzü yaklaştırınız';
            if (foundPerson.confidence < 0.85) {
                foundPerson = null;

                return;
            }
            if (checkList.indexOf(foundPerson.label) === -1) {
                checkList.push(foundPerson.label);

                $.ajax({
                    type: "POST",
                    url: "/yoklama-alma",
                    data: {
                        personId: foundPerson.label,
                        personConf: foundPerson.confidence
                    },
                    success: function () {
                        label = 'Yoklamanız alındı!';
                    }, error: function () {
                        label = 'Veritabanına alınırken hata oluştu!';
                    }
                });
            }
        });
    }
</script>
</body>

</html>